---

# Workflow of the included templates:
#
# 1) Unless pipeline is triggered by a tag, this project will be linted
#    with pylint and a pylint-score-badge is generated.
#
# 2) This pipeline will always build this project and store it as artifact.
#
# 3) Unless triggered via tag, a semantic release will be generated.
#    If current branch is not main aka a protected branch,
#    semantc-release does only a dry-run.
#
# 4) If triggered via tag, build will be released with twine
#
# Templates/Includes located and documented here:
#   https://gitlab.der-jd.de/gitlab/ci-templates
#

include:
  - { project: gitlab/ci-templates, file: lint/python.yml }
  - { project: gitlab/ci-templates, file: build/python.yml }
  - { project: gitlab/ci-templates, file: release/semantic.yml }
  - { project: gitlab/ci-templates, file: release/python.yml }

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "api"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "webide"
    - if: $CI_PIPELINE_SOURCE == "web"

stages:
  - lint
  - build
  - release
